
body {
    font-family: 'Arial', sans-serif;
    background-color: #ccccb3;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1{
    color: #00cc00;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5ef;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

header {
    background-color: #7bbf6a;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    color: #e4e4e4;
}

.new-arrivals {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.flower-item {
    background-color: #eafaf1;
    border: 1px solid #c1e4d6;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 45%;
}

.flower-item img {
    width: auto;
    height: auto;
    border-radius: 8px;
}

.flower-item h2 {
    color: #00e600;
    margin: 15px 0;
}

.flower-item p {
    margin-bottom: 10px;
}

footer {
    background-color: #7bbf6a;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
