
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 850px;
    margin-left: 500px;
}

.image-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.flower-details {
    flex: 1;
    padding-left: 20px;
}

.flower-details h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.flower-details p {
    margin: 5px 0;
    font-size: 16px;
}

.price {
    font-weight: bold;
    color: #e74c3c;
}

.discount, .loyalty-discount, .price-off {
    font-size: 14px;
    color: #2ecc71;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-container button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.add-to-cart {
    background-color: #f39c12;
}

.buy-now {
    background-color: #e74c3c;
}

.add-to-cart:hover {
    background-color: #e67e22;
}

.buy-now:hover {
    background-color: #c0392b;
}

.comment {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.comment form {
    margin-bottom: 20px;
}

.comment textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    min-height: 100px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.comment .add-comment {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.comment .add-comment:hover {
    background-color: #4cae4c;
}

.comment h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
}

.comment p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.comment p:last-of-type {
    margin-bottom: 0;
}
