h1{
    text-align: center;
    margin-top: -25px;
    justify-content: center;
    position: relative;
    left : 0;
}

.formHead{
    background-color: #ffdb4d;
    color: #804000;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    justify-content: center;

}

.container{
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

#email , #password {
    font-size: 15px;
    width :250px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
    padding: 2px;

}

#submit-btn{
    font-weight: bold;
    font-size: 15px;
    width: 255px;
    height: 35px;
    background-color: #66ffff;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;

}

#submit-btn:hover{
    background-color: aqua;
    text-decoration: underline;
    transition: 0.3s;
}

#link{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

#link:hover{
    text-decoration: underline;
    color: #ccf2ff;
}

.welcome-box{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: blue;
}

#error-box{
    background-color: #ff0000;
    text-align: center;
    font-size: 18px;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 5px;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Flower_Image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;

}

.form-box {
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
    background-image: url('Flower_Image_02.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 65px;

}
