
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ccccb3;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    border: 2px solid black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color:  #66ff66;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

form label {
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="hidden"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

button {
    display: inline-block;
    background-color: #33ff33;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #00cc00;
    transform: scale(1.05);
}

.logout{
    margin-left: 535px;
}

h2 {
    font-size: 1.8rem;
    color: #7a7a52;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.8rem;
    color: #7a7a52;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.loyalty-info {
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border-left: 4px solid #7bbf6a;
}

.order-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border-left: 4px solid #7bbf6a;
}

.order-info label {
    font-weight: bold;
    color: #555;
}

.order-info p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.order-info label {
    font-size: 1rem;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #555;
}

.back-home-btn {
    background-color: #008CBA;
    color: white;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-home-btn:hover {
    background-color: #005f73;
    transform: scale(1.05);
}
