
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #99c2ff;
    color: #333;
    border: 2px solid black;
}

h2{
    color: #208000;
}

p{
    color: black;
}

h1{
    color: #00cc00;
}

header {
    background-color: #28a745;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('images/img_8.png');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.products {
    padding: 40px 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: auto;
    height: 200px;
    border-radius: 5px;
}

.product-info {
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    background-color: #00cc00;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 1px solid black;
    font-weight: bold;
}

.btn:hover{
    transform: scale(1.05);
    background-color: #00b300;
}

footer {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 10px 0;
}
