body {
    font-family: 'Arial', sans-serif;
    background-color: #ccccb3;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1{
    color: #00cc00;
}

h2{
    color: #00cc00;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5ef;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

header {
    background-color: #7bbf6a;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    color: #e4e4e4;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

form button {
    background-color: #4dff4d;
    color: #994d00;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

form button:hover {
    background-color: #00ff00;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin-right: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.social-media li:hover {
    transform: scale(1.05);
}

footer {
    background-color: #7bbf6a;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
