body {
    font-family: 'Arial', sans-serif;
    background-color: #ccccb3;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5ef;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

header {
    background-color: #7bbf6a;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    color: #e4e4e4;
}

h2 {
    color: #00e600;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1{
    color: #00cc00;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p, ul {
    margin-bottom: 20px;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

a {
    color: #009900;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #7bbf6a;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
