body {
    font-family: Arial, sans-serif;
    background-color: #f5f5ef;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 250px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.addSearch{
    justify-content: center;
    display: flex;
}

.flower-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 4px;
    max-width: 100px;
    height: auto;
    margin-left: 10px;
}

h1, h2{
    color: #33cc00;
}

.backBtn{
    padding: 8px 10px;
    font-size: 16px;
    background-color: #40ff00;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 90px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.backBtn:hover{
    background-color: #33cc00;
    transform: scale(1.05);
}

.back{
    justify-content: right;
    display: flex;
    position: absolute;
    margin-top: -60px;
    margin-left: 658px;

}