
body {
    font-family: Arial, sans-serif;
    background-color: #ccccb3;
    margin: 0;
    padding: 20px;
    border: 2px solid black;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5ef;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"],
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;

}

button:hover {
    background-color: #0056b3;
}

#flower_image {
    text-align: center;
    margin-bottom: 20px;
}

#flower_image img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 270px;

}

.button:hover {
    background-color: #0056b3;
}

