body {
    font-family: Arial, sans-serif;
    background-color: #ccccb3;
    margin-top: 10px;
    padding: 20px;
    border: 2px solid black;
}

div {
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px 70px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.back {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #40ff00;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 32px;
    right: 100px;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back:hover {
    background-color: #33cc00;
    transform: scale(1.05);
}

.flower-item {
    display: inline-block;
    text-align: center;
    margin: 15px;
    background-color: white;
    /*border: 1px solid #dee2e6;*/
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 150px;
    height: 250px;
    overflow: hidden;
    border: 1px solid black;
}

.flower-item:hover {
    transform: scale(1.05);
}

img {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
}
