body {
    font-family: Arial, sans-serif;
    background-color: #ccccb3;
    margin: 0;
    padding: 20px;
    border: 2px solid black;
}

#container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5ef;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #007bff;
    color: white;
}

@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        text-align: left;
        font-weight: bold;
    }
}

.backBtn{
    padding: 8px 10px;
    font-size: 16px;
    background-color: #40ff00;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 90px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.backBtn:hover{
    background-color: #33cc00;
    transform: scale(1.05);
}

.back{
    justify-content: right;
    display: flex;
    position: absolute;
    top: 40px;
    right: 45px;
}
