body {
    font-family: Arial, sans-serif;
    background-color: #ccccb3;
    margin: 0;
    padding: 20px;
    border: 2px solid black;
}

#container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5ef;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #007bff;
    color: white;
}

button {
    background-color: #28a745;
    color: white;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

input[type="number"] {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="hidden"] {
    display: none;
}

.backBtn{
    padding: 8px 10px;
    font-size: 16px;
    background-color: #40ff00;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 90px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.backBtn:hover{
    background-color: #33cc00;
    transform: scale(1.05);
}

.back{
    justify-content: right;
    display: flex;
    position: absolute;
    top: 45px;
    right: 45px;
}
