h1{
    text-align: center;
    margin-top: -25px;
    justify-content: center;
    position: relative;
    left : 0;
}

.formHead{
    background-color: #df80ff;
    color: white;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
}

.container{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#email , #password {
    font-size: 15px;
    width :250px;
    height: 35px;
    border-radius: 15px;
    cursor: text;
    padding: 4px;

}

#submit-btn{
    font-weight: bold;
    font-size: 15px;
    width: 255px;
    height: 35px;
    background-color: #66ffff;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

#submit-btn:hover{
    background-color: aqua;
    text-decoration: underline;
}

#link{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.welcome-box{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: blue;
}

#error-box{
    background-color: #ff0000;
    text-align: center;
    font-size: 18px;
    width: auto;
    height: auto;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: not-allowed;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Flower_Image_03.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    border: 2px solid black;
}

.form-box {
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
    /*background-image: url('Flower_Image_04.jpg');*/
    background-position: center;
    background-size: cover;
    padding-top: 65px;

}
