
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5ef;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}


.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5ef;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


h1, h2, h3 {
    color: #002966;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8em;
}

form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="number"],
form select,
form button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #CCC;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button {
    display: inline-block;
    background-color: #66a3ff;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0 15px;
    text-align: center;
}

form button:hover {
    background-color: #0066ff;
    transition: background-color 0.3s;
}

/* Links */
a {
    color: #6D9A8D;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #496B63;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #E2E2E2;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #88BDBC;
    color: white;
}

table tr:nth-child(even) {
    background-color: #F4F4F4;
}

table tr:hover {
    background-color: #EAEAEA;
}


.navigation {
    margin: 20px 0;
}

.navigation a {
    font-weight: bold;
    margin-right: 20px;
}

.navigation a:hover {
    color: #507D6A;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    color: white;
    background-color: #6D9A8D;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #507D6A;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    form {
        flex-direction: column;
    }

    form input[type="number"],
    form select,
    form button {
        width: 100%;
    }
}

.success_payment button {
    background-color: #66a3ff;
    color: black;
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.success_payment button:hover {
    background-color: #0066ff;
    transform: translateY(-2px);
}

.success_payment button:active {
    background-color: #0066ff;
    transform: translateY(1px);
}

.backBtn{
    padding: 8px 10px;
    font-size: 16px;
    background-color: #40ff00;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 90px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.backBtn:hover{
    background-color: #33cc00;
    transform: scale(1.05);
}

.back{
    justify-content: right;
    display: flex;
    position: absolute;
    top: 45px;
    right: 45px;
}